body {
  height: 100vh;
  min-height: 650px;
  min-width: 1350px;
  background: rgb(243, 243, 243);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: black;
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

